In [ ]:
# default_exp leaderboard

# Leaderboard

> Current leaderboard using validation set. The final leaderboard will be generated at the end of the contest using test dataset and will probably be different due to overfitting.

In [ ]:
#exporti

import pandas as pd

In [ ]:
# export

def get_leaderboard():
    df = pd.DataFrame(dict(alias=["davor", "matija", "leptirić"], score=[0.483, 0.453, 0.526]))

    return df.sort_values(by="score", ascending=False).reset_index(drop=True)

In [ ]:
#hide_input

get_leaderboard()

      alias  score
0  leptirić  0.526
1     davor  0.483
2    matija  0.453